<div class="row" id="rowa">
 <div class="card">

  <div class="card__side card__side--back">
   <div class="card__cover">
    <h4 class="card__heading">
     <span class="card__heading-span">Center Name</span>
     <p class="">VACCINE AVAILABLE</p>
    </h4>
   </div>
   <div class="card__details">
    <ul>
     <li>Date:</li>
     <li>available_capacity_dose1:</li>
     <li>available_capacity_dose1:</li>
     <li>min_age_limit</li>
     <li>Vaccine:</li>
     <li>free</li>
     <li>Naming Conventions</li>
    </ul>
   </div>
  </div>

  <div class="card__side card__side--front">
   <div class="card__theme">
    <div class="card__theme-box">
     <p class="card__subject">VACCINE AVAILABLE</p>
     <p class="card__title">Hurry Up!</p>
    </div>
   </div>
  </div>

 </div>
</div>
