<div class="filter_menu">
    <div class="filter_item" id="filter_item1" onclick="select1()"> Age 18+</div>
    <div class="filter_item" id="filter_item2" onclick="select2()"> Age 45+</div>
    <div class="filter_item" id="filter_item3" onclick="select3()"> Covishield</div>
    <div class="filter_item" id="filter_item4" onclick="select4()"> Covaxin</div>
    <div class="filter_item" id="filter_item5" onclick="select5()"> Sputnik V</div>
    <div class="filter_item" id="filter_item6" onclick="select6()"> Free</div>
    <div class="filter_item" id="filter_item7" onclick="select7()"> Paid</div>
</div>