<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    th{
        border: 1px solid;
        min-width:5vw;
    }
    td{
        border: 1px solid;
        max-width:fit-content;
    }
    #dose1{
        background:red;
    }
</style>
<body>
    <div>
    <table style="border:1px solid;">
        <th></th>
        <th id="day1" colspan="2">31st may</th>
        <th id="day2" colspan="2">1st june</th>
        <th id="day3" colspan="2">2nd june</th>
        <th id="day4" colspan="2">3rd june</th>
        <th id="day5" colspan="2">4th june</th>
        <th id="day6" colspan="2">5th june</th>
        <th id="day7" colspan="2">6th june</th>
        <tr>
            <td id="center_name">center name</td>
            <td id="dose1">Dose 1</td>
            <td id="dose2">Dose 2</td>
            <td id="dose1">Dose 1</td>
            <td id="dose2">Dose 2</td>
            <td id="dose1">Dose 1</td>
            <td id="dose2">Dose 2</td>
            <td id="dose1">Dose 1</td>
            <td id="dose2">Dose 2</td>
            <td id="dose1">Dose 1</td>
            <td id="dose2">Dose 2</td>
            <td id="dose1">Dose 1</td>
            <td id="dose2">Dose 2</td>
            <td id="dose1">Dose 1</td>
            <td id="dose2">Dose 2</td>
        </tr>
        <tr>
            <td>Age 18</td>
            <td id="dose1">31</td>
            <td id="dose2">32</td>
            <td id="dose1">31</td>
            <td id="dose2">32</td>
            <td id="dose1">31</td>
            <td id="dose2">32</td>
            <td id="dose1">31</td>
            <td id="dose2">32</td>
            <td id="dose1">31</td>
            <td id="dose2">32</td>
            <td id="dose1">31</td>
            <td id="dose2">32</td>
            <td id="dose1">31</td>
            <td id="dose2">32</td>
        </tr>
    </table>
</div>
</body>
</html>