body{
    background: rgb(243, 44, 44);
    font-size: 20px;
    text-align: center;

}
button{
    display: inline-block;   
}
.forma {
    padding-top: 0px;
    display: inline-block;
}

#rowa{
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    justify-content:center;
}
#drpmenu{
    font-size: 18px;
}
#logobutton{
    font-size: 22px;
}

.filter_menu{
    margin: 3px;
    margin: bottom 3px;
}

.filter_item{
    cursor: pointer;
    font-family: 'Russo One', sans-serif;
    font-size: 15px;
    border: 2px solid black;
    border-radius: 3px;
    background-color:#f9f3f3;
    width:fit-content;
    display: inline-block;
    padding:2px;
    margin:2px;
}

.aftertoggle{
    cursor: pointer;
    font-family: 'Russo One', sans-serif;
    font-size: 16px;
    color: white;
    border: 2px solid black;
    border-radius: 3px;
    background-color:#04009a;
    width:fit-content;
    display: inline-block;
    padding:2px;
    margin:2px;
}
